﻿@*@model HelloModel*@
@model List<datalayer.Entities.Directory>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<h2>@Model.HelloMessage</h2> *@
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <h2>@item.Title</h2>
                <ul>
                    @if(@item.Materials != null){
                    @foreach (var subItem in item.Materials)
                    {
                        <li>
                            @subItem.Title
                        </li>
                    }
                    }
                </ul>
            </li>
        }
    </ul>    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
